* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

main {
  margin: 0 auto;
}

.headline {
  padding-top: 20px;
  padding-left: 20px;
  color: #000000;
}

main {
  width: 840px;
  margin: 50px auto;
  border-bottom: 1px solid #d1d1d1;
}

.main-visual {
  height: 400px;
  width: 100%;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.blog-item1 {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
}

.blog-item2 {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
}

.blog-item3 {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
}

.blog-item4 {
  padding-bottom: 30px;
}
